.text {
    COLOR:WHITE;
}

.portfolio {
    background-color:black;
    color:White;
    height:35px;
    width:125px;
    margin-right:25px;
    }

    .go-portfolio {
        color:white;
        font-family:tahoma;
        font-size:larger;
        text-decoration:none;
    }

    .back {
    background-color:black;
    color:White;
    height:35px;
    width:125px;
    }

    .go-back {
        color:white;
        font-family:tahoma;
        font-size:larger;
        text-decoration:none;
    }